<div class="contact">

    
    <app-mini-hero [miniHero]="miniHero"></app-mini-hero>

    <div class="content my-container">
        <div class="infos-map">
            <div class="infos">
                <div class="contact-bloc">
                    <h6 class="title">Informations de contact</h6>
                    <div class="contact-info">
                        <i class="pi pi-map-marker"></i>
                        <span>12 carrefour de la joie, Nantes</span>
                    </div>
                    <div class="contact-info">
                        <i class="pi pi-phone"></i>
                        <span class="number">(+33) 6 54 21 23 24</span>
                    </div>
                    <div class="contact-info">
                        <i class="pi pi-envelope"></i>
                        <span>contact@restaurant.com</span>
                    </div>
                </div>

                <div class="hours-bloc">
                    <h6 class="title">Horaires d'ouverture</h6>
                    <div class="hours">
                        <i class="pi pi-clock"></i>
                        <ul class="hour">
                            <li>
                                <span>Lundi</span>: 09h00 - 17h00
                            </li>
                            <li>
                                <span>Mardi</span>: 09h00 - 17h00
                            </li>
                            <li>
                                <span>Mercredi</span>: 09h00 - 17h00
                            </li>
                            <li>
                                <span>Jeudi</span>: 09h00 - 17h00
                            </li>
                            <li>
                                <span>Vendredi</span>: 09h00 - 17h00
                            </li>
                            <li>
                                <span>Samedi</span>: 09h00 - 17h00
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.793900682261!2d2.316019515745203!3d48.88120537928972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fb6a64ddd65%3A0x55fc94d2972b8a64!2s8%20Rue%20Pelouze%2C%2075008%20Paris!5e0!3m2!1sfr!2sfr!4v1655751047718!5m2!1sfr!2sfr" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmitContactForm()">
            <div class="element">
              <div class="lastname">
                <label for="lastname" class="label">
                    <span>Votre nom </span>
                    <span class="red-star">*</span>
                </label>
                <input id="lastname" type="text" placeholder="Entrez votre nom" formControlName="name">
              </div>
              <div *ngIf="isContactFormSubmitted && f.name.errors" class="error-feedback">
                  <small *ngIf="f.name.errors.required">Renseignez votre nom</small>
              </div>
            </div>
          <div class="email-phone">
            <div class="element">
                <div class="email">
                    <label label="email" class="label">
                        <span>Votre email </span>
                        <span class="red-star">*</span>
                    </label>
                    <input id="email" type="email" placeholder="Email" formControlName="email">
                </div>
                <div *ngIf="isContactFormSubmitted && f.email.errors" class="error-feedback">
                  <small *ngIf="f.email.errors.required">Email manquant</small>
                </div>
            </div>
            <div class="element">
                <div class="phone">
                    <label for="phone" class="label">
                        <span>Votre téléphone </span>
                        <span class="red-star">*</span>
                    </label>
                    <input id="phone" type="text" placeholder="Téléphone" formControlName="phone">
                </div>
                <div *ngIf="isContactFormSubmitted && f.phone.errors" class="error-feedback">
                  <small *ngIf="f.phone.errors.required">Téléphone manquant</small>
                </div>
            </div>
          </div>
        <div class="element">
          <div class="message" >
            <textarea id="message-area" formControlName="message" type="text" placeholder="Entrez votre message ici ..."></textarea>
          </div>
          <div *ngIf="isContactFormSubmitted && f.message.errors" class="error-feedback">
            <small *ngIf="f.message.errors.required">Message manquant</small>
          </div>
        </div>
        <button type="submit" >
          <ng-container *ngIf="isContactFormSubmittedAndNotErrorOnClientSide; else defaultText">
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
          </ng-container>
        </button>
        </form>
        <ng-template #defaultText>Envoyer</ng-template>
    </div>
      <p-toast [baseZIndex]="10000" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0', backgroung:'red'}}"></p-toast>

</div>

