<div class="phone-apps">
    <img class="left" src="../../../assets/img/home/mobile-apps/looking-phone.png" alt="use phone">
    <div class="right">
            <h5>Téléchargez l'application </h5>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatem, ipsa tempore placeat omnis inventore provident laudantium hic aliquam ut repellendus dicta incidunt commodi, cum excepturi aliquid consequatur nostrum quia!</span>
            <div class="stores">
                <img class="store" src="../../../assets/img/home/mobile-apps/play-store.png" alt="">
                <img class="store" src="../../../assets/img/home/mobile-apps/app-store.png" alt="">
            </div>
    </div>
</div>