<div class="home-hours">
    <div class="horaires-bloc">
        
        <div class="clock-bloc">
            <i class="pi pi-clock"></i>
            <h3>Horaires d'ouverture</h3>
        </div>

        <div class="horaires">
            <ul>
                <li class="horaire">
                        <span class="horaire-text">Mardi à Jeudi</span>
                        <span class="horaire-value">12h00 - 15h00</span>
                        <span class="horaire-value">19h30 - 22h30</span>
                </li>

                <li class="horaire">
                    <span class="horaire-text">Vendredi à Samedi</span>
                    <span class="horaire-value">12h00 - 15h00</span>
                    <span class="horaire-value">19h00 - 23h30</span>
                </li>

            </ul>

            <div class="ways-to-eat">
                <span >
                    <i class="pi pi-check-circle"></i>
                    Sur place
                </span>

                <span>
                    <i class="pi pi-check-circle"></i>
                    À emporter
                </span>

                <span>
                    <i class="pi pi-check-circle"></i>
                    En livraison
                </span>
            </div>
        </div>
    </div>
</div>
