<div class="order-item">
    <select (change)="changeQuantity($event)" [value]="16">
        <option value=0 >Supprimer</option>
        <ng-template ngFor let-quantityArray [ngForOf]="selectQuantityArray"; let-index = "index";  >

            <option *ngIf="index === 0 ; else onlyPositive" disabled></option>

            <ng-template #onlyPositive>
                <option [selected]="order?.quantity === index" [value]="index">{{index}}</option>
            </ng-template>
        </ng-template>
    </select>

    <div class="infos">
        <h3 class="title"> {{order?.name}} </h3>
        <div class="mandatory" *ngIf="order?.mandatory">
            <span class="header" *ngIf="order?.ref === 'fu_01';else other_mandatory_content">Accompagnement</span>
            <span class="label"> -> {{order?.mandatory}} </span>
        </div>

        <div class="optionals" *ngIf="(order?.optionals && order?.optionals!.length > 0 )">
            <span class="header" *ngIf="order?.ref === 'fu_01';else other_optionals_content">Sauce(s)</span>
            <ng-template ngFor let-optional [ngForOf]="order?.optionals" >
                <span class="label"> -> {{optional}} </span>
            </ng-template>
        </div>

        <ng-template #other_mandatory_content>
            <span class="header">Contenant</span>
        </ng-template>
        <ng-template #other_optionals_content>
            <span class="header">Nappage</span>
        </ng-template>
    </div>

    <span class="price"> {{ totalPrice | number: "1.2"}} € </span>
</div>
