<div class="about">

    <div class="about-header">
        <img src="../../../assets/contact/header-bg.jpeg" alt="">
        <div class="texts">
            <h1>À Propos </h1>
            <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span>
        </div>
    </div>

    <div class="content content-container">
        <div class="history">

            <div class="history-img">
                <img  src="../../../assets/about/history.jpeg" alt="">
            </div>
    
            <div class="history-infos">
                <h1 class="title">Découvrez</h1>
                <h3 class="subtitle">Notre Histoire</h3>
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, eaque illum aspernatur sed, dolorem dicta id assumenda quis corporis repudiandae natus impedit in laboriosam, recusandae exercitationem harum sit atque eligendi.</span>
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, eaque illum aspernatur sed, dolorem dicta id assumenda quis corporis repudiandae natus impedit in laboriosam, recusandae exercitationem harum sit atque eligendi.</span>
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, eaque illum aspernatur sed, dolorem dicta id assumenda quis corporis repudiandae natus impedit in laboriosam, recusandae exercitationem harum sit atque eligendi.</span>
            </div>
        </div>

        <div class="services">
            <h1 class="title">Services</h1>
            <h3 class="subtitle">Nous vous proposons</h3>
            <div class="services-bloc">
                <div class="service">
                    <img src="../../../assets/about/breakfast.png" alt="">
                    <h5 class="service-title">Petit Déjeuner</h5>
                    <span>Des céréales avec du lait ou bien des tartines pain-beurre-confiture, le tout accompagné d’un verre .</span>
                    <button>voir</button>
                </div>

                <div class="service">
                    <img src="../../../assets/about/breakfast.png" alt="">
                    <h5 class="service-title">Déjeuner</h5>
                    <span>Des céréales avec du lait ou bien des tartines pain-beurre-confiture, le tout accompagné d’un verre de jus d’orange.</span>
                    <button>voir</button>

                </div>

                <div class="service">
                    <img src="../../../assets/about/breakfast.png" alt="">
                    <h5 class="service-title">Diner</h5>
                    <span>Des céréales avec du lait ou bien des tartines pain-beurre-confiture, le tout .</span>
                    <button>voir</button>

                </div>
            </div>
        </div>
    </div>
    
</div>