<div class="about">

    <app-mini-hero [miniHero]="miniHero"></app-mini-hero>

    <div class="content my-container">
        <div class="history">

            <div class="history-img">
                <img  src="../../../assets/img/restaurant/history.jpeg" alt="">
            </div>
    
            <div class="history-infos">
                <h1 class="title">Découvrez</h1>
                <h3 class="subtitle">Notre Histoire</h3>
                <span>
                    Diplômée de la prestigieuse école de cuisine "Master En Chef" à Nébula Alpha 33 en 2004, Mike Strutter, Wakandais d’origine est partie se former une dizaine d’années auprès de grands Chefs étoilés partout dans l'univers. Il a eu le plaisir de travailler dans des maisons d’exception ou cuisine rime avec haute voltige et découverte galactiques.
                </span>

                <span>
                    Son apprentissage lui a permis de lui ouvrir les portes de la haute gastronomie très rapidement avec des stages en maison étoilées de renom dans des univers encore inexplorés tel que Kandor et Alpha du centaure.
                </span>

                <span>
                    Son retour dans notre galaxy et surtout dans notre système solaire avec un vrai coup de cœur pour ce loft au bord de l’eau donnant sur l’écluse du canal saint martin.
                </span>
               
            </div>
            
        </div>

        <div class="services">
            
            <div class="header">
                <h1 class="title">Services</h1>
                <h3 class="subtitle">Nous vous proposons</h3>
            </div>

            <div class="services-bloc">
                <div class="service">
                    <img src="../../../assets/img/restaurant/breakfast.png" alt="">
                    <h5 class="service-title">Petit Déjeuner</h5>
                    <span>Des céréales avec du lait ou bien des tartines pain-beurre-confiture, le tout accompagné d’un verre .</span>
                    <button routerLink="/notre-carte">Découvrir</button>
                </div>

                <div class="service">
                    <img src="../../../assets/img/restaurant/breakfast.png" alt="">
                    <h5 class="service-title">Déjeuner</h5>
                    <span>Des céréales avec du lait ou bien des tartines pain-beurre-confiture, le tout accompagné d’un verre de jus d’orange.</span>
                    <button routerLink="/notre-carte">Découvrir</button>
                </div>

                <div class="service">
                    <img src="../../../assets/img/restaurant/breakfast.png" alt="">
                    <h5 class="service-title">Diner</h5>
                    <span>Des céréales avec du lait ou bien des tartines pain-beurre-confiture, le tout .</span>
                    <button routerLink="/notre-carte">Découvrir</button>

                </div>
            </div>
        </div>

        <app-chiefs></app-chiefs>
    </div>
    
</div>