.about{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    app-mini-hero{
        width: 100%;
    }

    .content{
        display: flex;
        flex-direction: column;
        width: 100%;

        .history{
            display: flex;
            justify-content: space-between;
            margin: 100px 0 140px 0;
            width: 100%;
    
            .history-img{
                height: 500px;
                width: 450px;
                position: relative;
                margin-right: 50px;

                &::before{
                    position: absolute;
                    content: "";
                    background: rgba(0, 0, 0, 0.079);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                }
    
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
    
            .history-infos{
                width: 55%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .title{
                    color: red;
                    font-size: 2.4em;
                }

                .subtitle{
                    position: relative;
                    margin-bottom: 30px;
                }

                .subtitle::before{
                    position: absolute;
                    content:"";
                    height: 3px;
                    width: 100%;
                    background-color: red;
                    top: 50%;
                    left: -110%;
                    border-radius: 10px;

                }

                .subtitle::after{
                    position: absolute;
                    content:"";
                    height: 3px;
                    width: 100%;
                    background-color: red;
                    top: 50%;
                    left: 110%;
                    border-radius: 10px;

                }

                span{
                    text-align: justify;
                    margin-top: 8px;
                }
            }
        }

        .services{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin-bottom: 100px;
            background-color: rgb(220, 220, 220);
            background-image: url('../../../assets/img/restaurant/food-bg.webp');
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 80px 30px;


            .header{
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                width: 94%;
                padding: 16px;
                background: rgb(255 255 255 / 30%);
                box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
                backdrop-filter: blur( 4px );
                -webkit-backdrop-filter: blur( 4px );
                border-radius: 10px;
                border: 0px solid rgb(0 0 0 / 18%);
                
                .title{
                    color: red;
                    font-size: 2.4em;
                    text-align: center;
                }
    
                .subtitle{
                    position: relative;
    
                    &::before{
                        position: absolute;
                        content:"";
                        height: 3px;
                        width: 100%;
                        background-color: red;
                        top: 50%;
                        left: -110%;
                        border-radius: 10px;
                    }
    
                    &::after{
                        position: absolute;
                        content:"";
                        height: 3px;
                        width: 100%;
                        background-color: red;
                        top: 50%;
                        left: 110%;
                        border-radius: 10px;
        
                    }
                }
            }
            

            .services-bloc{
                display: flex;
                justify-content: space-around;
                margin-top: 130px;
                width: 100%;

                .service{
                    position: relative;
                    display: flex;
                    padding: 50px 10px 20px 10px;
                    flex-direction: column;
                    align-items: center;
                    width: 300px;
                    background: rgb(255 255 255 / 30%);
                    backdrop-filter: blur( 4px );
                    -webkit-backdrop-filter: blur( 4px );
                    border-radius: 10px;
                    border: 2px solid rgba(0, 0, 0, 0.18);
                    margin: 0 7px;

                    img{
                        width: 120px;
                        height: 120px;
                        object-fit: cover;
                        position: absolute;
                        top: -62px;
                    }

                    .service-title{
                        font-size: 1.5em;
                        margin: 15px 0;
                        text-align: center;
                    }

                    span{
                        text-align: center;
                        font-size: 0.9em;
                        color: black;
                        font-weight: 400;
                    }

                    button{
                        outline: none;
                        border-radius: 100px;
                        padding: 5px 15px;
                        background-color: white;
                        border: 2px solid red;
                        color: red;
                        width: fit-content;
                        transition: all 0.3s ease-in-out;
                        margin: auto;
                        margin-top: 30px;
                        cursor: pointer;
                        
                        &:hover{
                            background-color: red;
                            color: white;
                        }
                    }
                }
            }
        }

        app-chiefs{
            width: 100%;
        }


    }

}

@media all and (max-width: 970px){
    .about{
        .content{
            .history{
                flex-direction: column-reverse;
        
                .history-img{
                    display: none;
                }
        
                .history-infos{
                    width: 100%;
                }
            }
    
            .services{    
                .header{
                    margin: 0;
                    width: 94%;
                    padding: 16px;
        
                    .subtitle{
                        position: relative;
        
                        &::before{
                            width: 50%;
                            left: -60%;
                        }
        
                        &::after{
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 790px){
    .about{
        .content{
            .history{
                flex-direction: column-reverse;
        
                .history-img{
                    display: none;
                }
        
                .history-infos{
                    width: 100%;
                }
            }
    
            .services{   
                padding: 40px 20px;
 
                .header{
                    width: 100%;
                }
                .services-bloc{
                    flex-direction: column;
                    margin-top: 90px;

                    .service{
                        width: 100%;
                        margin: 0;
                        align-items: flex-start;
                        padding: 15px 10px;
                        margin-top: 10px;

                        .service-title{
                            margin: 0 0 10px 0;
                            font-size: 1.2em;
                        }

                        img{
                            width: 100px;
                            height: 100px;
                        
                            right: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        span{
                            text-align: justify;
                            width: 75%;
                            margin-right: 20px;
                        }

                        button{
                            margin: unset;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 640px){
    .about{
        .content{
            .history{
                flex-direction: column-reverse;
        
                .history-infos{
                    width: 100%;
    
                    .title{
                        color: red;
                        font-size: 2em;
                    }
    
                    .subtitle::before{
                        width: 20%;
                        left: -30%;
                    }
    
                    .subtitle::after{
                        width: 20%;
                        left: 110%;
                    }
                }
            }

            
    
            .services{    

                .header{
   
                    .title{
                        font-size: 1.7em;
                    }
        
                    .subtitle{
                        font-size: 1em;
        
                        &::before{
                            width: 20%;
                            left: -25%;
                        }
        
                        &::after{
                            width: 20%;
                            left: 105%;
                        }
                    }
                }
                .services-bloc{
                    flex-direction: column;

                    .service{
                        width: 100%;
                        margin: 0;
                        align-items: flex-start;
                        padding: 15px 10px;
                        margin-top: 10px;

                        .service-title{
                            margin: 0 0 10px 0;
                            font-size: 1.2em;
                        }

                        img{
                            width: 80px;
                            height: 80px;
                        }

                        span{
                            text-align: justify;
                            width: 75%;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 540px){
    .about{
        .content{
            .history{
                flex-direction: column-reverse;
                
                .history-infos{
                    width: 100%;
                }
            }
    
            .services{    
                .services-bloc{
                    flex-direction: column;

                    .service{
                        width: 100%;
                        margin: 0;
                        align-items: flex-start;
                        padding: 25px 10px 15px 10px;
                        margin-top: 50px;

                        .service-title{
                            margin: 0 0 10px 0;
                            font-size: 1.1em;
                            width: 100%;
                            text-align: right;
                        }

                        img{
                            width: 80px;
                            height: 80px;
                            left: 10px;
                            top: 0px;
                        }

                        span{
                            text-align: justify;
                            width: 100%;
                            margin-right: 0;
                        }

                        button{
                            position: absolute;
                            right: 10px;
                            top: -33px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 425px){
    .about{
        .content{
            .services{       
                padding: 40px 7px;
            }
        }
    }
}