footer{
    width: 100%;
    background-color:  #f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;

    .top{
        width: 100%;
        display: flex;
        justify-content: center;

        .content{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
            flex-wrap: wrap;

            .restaurant{
                display: flex;
                flex-direction: column;
                width: 300px;
                margin-top: 30px;

                .logo{
                    color: red;
                    font-weight: bold;
                    font-size: 1.5em;
                    text-decoration: none;
                    span{
                        color: black;
                        font-weight: 900;
                    }
                }

                p{
                    margin-top: 20px;
                    color: #161616;
                    font-size: 0.9em;
                }
            }

            .carte, .legals{
                display: flex;
                flex-direction: column;
                width: 200px;
                margin: 30px 20px 0 20px;

                p{
                    white-space: nowrap;
                    font-weight: 900;
                    font-size: 1.5em;
                }

                ul{
                    margin-top: 25px;
                    font-size: 0.9em;
                    color: #161616;
                    li{
                        margin-bottom: 7px;
                        cursor: pointer;
                        transition: all 0.1s ease-in-out;

                        &:hover{
                            color: red;
                            
                        }
                    }
                }
            }

            .follow{
                display: flex;
                flex-direction: column;
                width: 200px;
                margin-top: 30px;

                p{
                    white-space: nowrap;
                    font-weight: 900;
                    font-size: 1.5em;
                }

                .social-medias{
                    display: flex;
                    margin-top: 25px;

                    a{
                        text-decoration: none;
                        width: fit-content;
                        

                        i{
                            font-size: 1.2em;
                            margin-right: 7px;
                            cursor: pointer;
                            transition: all 0.2s ease-in-out;
                            color: black;

                            &:hover{
                                transform: translateY(-7px);
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }

    .middle{
        width: 100%;
        display: flex;
        justify-content: center;

        .content{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            small{
                width: 100%;
                padding-top: 20px;
                padding-bottom: 30px;
                border-top: 1px solid #a7a7a7;
                text-align: center;
            }
        }
    }

    .manger-bouger{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: white;

        .content{
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            flex-wrap: wrap;
            
            p{
                text-align: center;
                width: 100%;
                font-size: 0.75em;
                color: #404040;


                a{
                    margin-left: 5px;
                    color: #264f36;
                    cursor: pointer;
                }
            }
        }
    }
}

@media all and (max-width: 880px){
    footer{
        .top{
            .content{
                
                .restaurant, .carte, .legals, .follow{
                   margin: 30px 0 0 0;
                   width: 50%;
                }

                .carte, .follow{
                    align-items: flex-end;
                }
            }
        }
    }
}

@media all and (max-width: 510px){
    footer{
        .top{
            .content{
                
                .restaurant{
                    width: 100%;
                }

                .carte, .legals, .follow{
                   margin: 30px 0 0 0;
                   width: 50%;
                }

                .carte, .follow{
                    align-items: flex-start;
                }

                .follow{
                    align-items: flex-start;
                    width: 100%;
                }
            }
        }
    }
}

@media all and (max-width: 490px){
    footer{
        margin-top: 80px;
        .top{
            .content{
                
                .restaurant, .carte, .legals, .follow{
                    width: 100%;
                }
            }
        }
    }
}