.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
    margin: 20px 15px;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;

                    img{
                        width: 160px;
                        height: 160px;
                        object-fit: cover;
                        border-radius: 5px;
                    }

                    .service-title{
                        font-size: 1.2em;
                        margin: 15px 0 12px 0;
                    }

                    span{
                        text-align: center;
                        font-size: 0.93em;
                    }

                    .price{
                        font-weight: 500;
                        color: #E9121D;
                        margin: 10px 0;
                        font-size: 1.1em;
                        font-style: italic;
                    }

                    button{
                        outline: none;
                        border: none;
                        border-radius: 3px;
                        padding: 3px 20px;
                        background-color: white;
                        border: 2px solid #303030;
                        color: black;
                        width: fit-content;
                        font-size: 0.95em;
                        transition: all 0.3s ease-in-out;
                        margin: auto;
                        cursor: pointer;
                    }
        
                    button:hover{
                        border: 2px solid green;
                        background-color: green;
                        color: white;
                    }
            }

.product:hover{
    background-color: rgb(230, 230, 230);
}