<header>

    <div class="content my-container">
        <a routerLink="/"  class="logo">
            <span>Food</span> Universe
        </a>
    
        <nav class="navigation">
            <ul>
                <li>
                    <a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"  routerLink="/">Accueil</a>
                </li>
                <li>
                    <a routerLinkActive="active-link" routerLink="/a-propos">Le Restaurant</a>
                </li>
                <li>
                    <a routerLinkActive="active-link" routerLink="/notre-carte">Notre Carte</a>
                </li>
                <li>
                    <a routerLinkActive="active-link" routerLink="/contact">Nous Contacter</a>
                </li>
            </ul>
        </nav>
    
        <app-side-cart></app-side-cart>
        <app-side-menu></app-side-menu>

    </div>

</header>
