<div class="header">

    <div class="content header-container">
        <a routerLink="/"  class="logo">
            <span>Food</span> Universe
        </a>
    
        <nav>
            <ul>
                <li>
                    <a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"  routerLink="/">Accueil</a>
                </li>
                <li>
                    <a routerLinkActive="active-link" routerLink="/a-propos">Le Restaurant</a>
                </li>
                <li>
                    <a routerLinkActive="active-link" routerLink="/notre-carte">Notre Carte</a>
                </li>
                <li>
                    <a routerLinkActive="active-link" routerLink="/contact">Nous Contacter</a>
                </li>
            </ul>
        </nav>
    
        <app-cart></app-cart>

    </div>


</div>
