<div class="header">

    <div class="content header-container">
        <span class="logo">
            Restaurant
        </span>
    
        <nav>
            <ul>
                <li>
                    <a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="/accueil">ACCUEIL</a>
                </li>
                <li>
                    <a routerLinkActive="active-link" routerLink="/a-propos">LE RESTAURANT</a>
                </li>
                <li>
                    <a routerLinkActive="active-link" routerLink="/menus">NOS MENUS</a>
                </li>
                <li>
                    <a routerLinkActive="active-link" routerLink="/contact">NOUS CONTACTER</a>
                </li>
            </ul>
        </nav>
    
        <app-cart></app-cart>

    </div>


</div>
