<div class="home">

    <div class="hero">
        <img src="../../../assets/img//home//hero/hero-bg.jpeg" alt="">
        <div class="texts">
            <h1>BIENVENU CHEZ</h1>
            <p class="logo">
                <span>Food</span> Universe
            </p>
            <p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>

    <div class="content my-container">

        <app-home-about></app-home-about>
        
        <app-home-what-makes-difference></app-home-what-makes-difference>

        <app-home-hours></app-home-hours>

        <app-home-recommendations></app-home-recommendations>

        <app-home-delivery></app-home-delivery>

        <app-testimonies></app-testimonies>

        <app-home-phone-apps></app-home-phone-apps>
    </div>

</div>
