<div class="home">

    <div class="hero">
        <img src="../../../assets/home/hero-bg.jpeg" alt="">
        <div class="texts">
            <h1>Nos Menus </h1>
            <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span>
        </div>
    </div>
    <div class="content my-container">
        <div class="about-bloc">

            <div class="texts">
                <p class="pre-title">A Propos</p>
                <h2 class="title">NOURRITURE FRAICHE ET GOÛTEUSE</h2>
                <div class="text">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, illo maiores deserunt modi cupiditate quo sed nam error minima asperiores quia aliquam cumque nesciunt ipsa harum. Ratione sit sequi iste!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, illo maiores deserunt modi cupiditate quo sed nam error minima asperiores quia aliquam cumque nesciunt ipsa harum. Ratione sit sequi iste!</p>
                </div>
                <button>Nos Menus</button>
            </div>
            <div class="images">
                <img class="about-one" src="../../../assets/home/about-two.jpeg" alt="">
                <img class="about-two" src="../../../assets/home/about-one.jpeg" alt="">
    
            </div>
    
        </div>
    
    <!--

        <div class="what-make-difference">
            <div class="element">
                <img src="../../../assets/home/icon.png" alt="">
                <h3 class="title">Ingredients Frais</h3>
                <span>Sed egestas, ante vulputa eros pede vitae luctus metus augue.</span>
            </div>
    
            <div class="element">
                <img src="../../../assets/home/icon.png" alt="">

                <h3 class="title">Produit Locaux</h3>
                <span>Sed egestas, ante vulputa eros pede vitae luctus metus augue.</span>
            </div>
    
            <div class="element">
                <img src="../../../assets/home/icon.png" alt="">

                <h3 class="title">Satisfaction Client</h3>
                <span>Sed egestas, ante vulputa eros pede vitae luctus metus augue.</span>
            </div>
    
    
            <div class="element">
                <img src="../../../assets/home/icon.png" alt="">

                <h3 class="title">Accueil Chaleureux</h3>
                <span>Sed egestas, ante vulputa eros pede vitae luctus metus augue.</span>
            </div>
        </div>

    -->
    
    <div class="juices-bloc">

        <img src="../../../assets/home/jus.png" alt="">
        <div class="texts">
            <h2>UN GOÛT NATUREL</h2>
            <span>Laissez-vous tenter par nos boissons naturelles faites maison</span>
            <div class="price-bloc">
                <span>à partir de</span>
                <span class="price">2.99 €</span>
            </div>
        </div>
    </div>

    <div class="recommanded">
        <h2>LES RECOMMANDATIONS DU CHEF</h2>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, fugiat, vel itaque quidem eligendi repellat sed impedit possimus beatae quaerat laudantium. Saepe eum dignissimos ad accusantium in perspiciatis animi hic.</span>
        <div class="products">
            <ng-template ngFor let-plat [ngForOf]="recommendedPlats";>
                <app-product-details [product] = "plat"></app-product-details>
            </ng-template>
        </div>
    </div>

    <div class="delivery">
        <img class="phone" src="../../../assets/home/delivery.png" alt="">

        <div class="delivery-content">
            <h5>Téléchargez l'application </h5>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatem, ipsa tempore placeat omnis inventore provident laudantium hic aliquam ut repellendus dicta incidunt commodi, cum excepturi aliquid consequatur nostrum quia!</span>
            <div class="stores">
                <img class="store" src="../../../assets/home/play-store.png" alt="">
                <img class="store" src="../../../assets/home/app-store.png" alt="">
            </div>
        </div>

    </div>

</div>




</div>
