<div class="about">
    <div class="texts">

        <div class="header">
            <p class="pre-title">A Propos</p>
            <h2 class="title">Nourriture Fraiche et Gouteuse</h2>
        </div>
        
        <div class="text">
            <p>Depuis 1965, Food Universe possède un très bon rapport prix / qualité. Le référencement dans les grands Guides Gastronomiques vous garantit une fraîcheur et un service incomparables.</p>
            <p>Notre secret est la régularité d'une équipe de professionnels qui chaque jour vous sert le meilleur du poisson, de la viande, des fruits de mer et des desserts.</p>
            <p>Dans un cadre chic et décontracté, nous vous assurons un service rapide et efficace.</p>
            <p>Bon appetit !</p>
        </div>
        <button routerLink="/notre-carte">Notre Carte</button>
    </div>
    
    <div class="images">
        <img class="about-one" src="../../../assets/img/home/about/first.jpeg" alt="">
        <img class="about-two" src="../../../assets/img/home/about/second.jpeg" alt="">
    </div>

</div>
