<div class="item">
    <img src={{item.image}} alt={{item.name}}>
    <div class="item-infos">
        <div class="item-details">
            <span class="title"> {{item.name}}</span>
        
            <div class="details">
                <div class="accompaniment" *ngIf="item.mandatory">
                    <span> -> {{item.mandatory}} </span>
                </div>

                <div class="optionals" *ngIf="item.optionals.length > 0">
                    <span> -> {{concatOptionals(item.optionals)}} </span>
                </div>
            </div>
        </div>
        
        <div class="number-bloc">
            <span (click)="emitEditProductEvent(item, -1)" class="buttons">
                <i class="pi pi-minus"></i>
            </span>
            <span class="item-quantity">{{item.quantity}}</span>
            <span (click)="emitEditProductEvent(item, 1)" class="buttons">
                <i class="pi pi-plus"></i>
            </span>
        </div>
    </div>
    
    <div class="del-price">
        <i class="pi pi-trash" (click)="emitEditProductEvent(item, 0)"></i>
        <span class="info-total-price"> {{item.price * item.quantity | number :"1.2"}} €</span>
    </div>
</div>