<div class="product-modal-details">
    <button class="close-modal" (click)="closeModal(product)">
        <i class="pi pi-times"></i>
    </button>
    <img src={{product.imageBg}} alt="">
    <div class="infos">
        <h4>{{product.name}}</h4>
        <span> {{product.shortDescription}} </span>
        <span class="label">Ingredients</span>

        <div class="ingredients">
            <ng-template ngFor let-ingredient [ngForOf]="product.ingredients">
                <span class="ingredient">{{ingredient}}</span>
            </ng-template>
        </div>
    </div>

    <form [formGroup]="orderedProductForm" (ngSubmit)="onSubmitTourForm()">

        <div *ngIf="product.accompaniments" class="accompaniments">

            <span>Accompagnements</span>

            <ng-template ngFor let-accompaniment [ngForOf]="product.accompaniments">
                <div class="accompaniment">
                    <p-radioButton [inputId]="accompaniment" [value]="accompaniment" formControlName="selectedAccompaniment"></p-radioButton>
                    <label [for]="accompaniment">{{accompaniment}}</label>
                </div>
            </ng-template>
        </div>


        <div  *ngIf="product.sauces" class="sauces">

            <span>Sauces</span>
            <ul class="sauce" formArrayName="selectedSauces">
                <li [formGroupName]="i" *ngFor="let sauce of f.selectedSauces.value; let i = index">
                    <input [id]="sauce.name" type="checkbox" formControlName="checked" class="checkbox-round" />
                    <label [for]="sauce.name">{{sauce.name}}</label>
                </li>
            </ul>
            
        </div>


        <div class="adding-cart-quantity">
            <div class="quantity">
                <i  (click)="setQuantity(-1)" class="pi pi-minus"></i>
                <span>{{orderedQuantity}}</span>
                <i (click)="setQuantity(1)" class="pi pi-plus"></i>
            </div>
            <button class="submit" type="submit"> {{totalPrice | number : '1.2'}} €</button>
        </div>
    </form>

</div>

