.cart-page{
            display: flex;
            justify-content: center;
            width: 100%;
            min-height: 100vh;
            color: black;

            .content{

                display: flex;
                justify-content: center;
                width: 100%;

                .cart-checkout{
                    display: flex;
                    justify-content: center;
                    width: center;
                    margin-top: 8em;
                    width: 100%;

                    .items-list{
                        width: 500px;
                        margin: 0 10px;
    
                        app-cart-page-item-product{
                            width: 100%;
                        }
                    }
    
                    .total-form{
                        display: flex;
                        flex-direction: column;
                        padding: 20px;
                        margin: 0 10px;
                        background-color: white;
                        height: fit-content;
                        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
                        width: 320px;
    
                        .total{
                            display: flex;
                            flex-direction: column;
    
                            .total-details{
                                display: flex;
                                flex-direction: column;
                                padding-bottom: 10px;
                                border-bottom: 1px solid black;
        
                                .total-header{
                                    font-size: 1.2em;
                                    font-weight: bold;
                                    margin-bottom: 10px;
                                }
        
                                .price-net{
                                    font-size: 0.9em;
                                    display: flex;
                                    justify-content: space-between;
                                    margin-top: 10px;
                                }
                            }
        
                            .price-total{
                                display: flex;
                                justify-content: space-between;
                                font-weight: bold;
                                margin: 20px 0;
                                font-weight: bold;
                                font-size: 1.1em;
                            }
    
                        }
    
                        form{
                            width: 100%;
                            border-radius: 5px;
                            height: fit-content;
                            display: flex;
                            flex-direction: column;
                            align-items:center;
                            margin: 30px 0 0 0;
            
                            .red-star{
                                color: red;
                                font-size: 1.1em;
                                font-weight: bold;
                            }
            
                            .error-feedback {
                                width: fit-content;
                                margin-top: 0.25rem;
                                color: #dc3545;
                            }
            
                            .elements{
                                display: flex;
                                flex-direction: column;
                                width: 100%;
    
                                .element{
                                    display: flex;
                                    flex-direction: column;
                                    margin: 5px 0;
                                    background: #efefef;
                                    border-radius: 3px;
                    
                                    .firstname,
                                    .lastname,
                                    .phone,
                                    .email{
                                        display: flex;
                                        flex-direction: column;
                                        position: relative;
                                        height: 50px;
                                        width: 100%;
                                        padding-top: 5px;
                    
                                        .label{
                                            font-size: 0.85em;
                                            padding-left: 5px;
                                        }
                    
                                         input{
                                            border: none;
                                            outline: none;
                                            background-color: unset;
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            width: -webkit-fill-available;
                                            padding-top: 25px;
                                            padding-left: 3px;
                                            height: 100%;
                                            font-size: 0.9em;
                                        }
                                    }
                                }
            
                            }
            
                            button{
                                outline: none;
                                border: none;
                                background-color: #dc3545;
                                transition: all 0.3s ease-in-out;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                color: white;
                                cursor: pointer;
                                padding: 10px 0;
                                border-radius: 5px;
                                margin-top: 20px;
                            }
            
                            button:hover{
                                color: black;
                                font-weight: bold;
                            }
            
                    }
    
                    }
                }

                .empty-cart{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    justify-content: center;

                    .title{
                        font-size: 1.6em;
                        margin-bottom: 50px;
                    }

                    p{
                        text-align: center;
                        margin-bottom: 5px;
                    }

                    .buttons{

                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;

                        button{
                            width: 170px;
                            padding: 8px 0;
                            border-radius: 100px;
                            font-size: 1.01em;
                            cursor: pointer;
                            margin: 20px 20px 10px 20px;
                            transition: all 0.2s ease-in-out;
                        }

                        .menu{
                            border: 2px solid red;
                            background-color: white;
                            color: red;
                            
                            &:hover{
                                background-color: red;
                                color: white;
                            }
                        }

                        .contact{
                            border: 2px solid black;
                            background-color: black;
                            color: white;
                            
                            &:hover{
                                background-color: white;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

@media all and (max-width: 950px){
    .cart-page{
        .content{
            .cart-checkout{
                flex-direction: column;
                align-items: center;

                .items-list{
                    margin: 0;
                    width: 100%;
                }

                .total-form{
                    margin: 40px 0 0 0;
                    width: 100%;
                }
            }
        }
    }
}
