<div class="cart-page">

        <div class="content my-container">

            <div class="cart-checkout"  *ngIf="itemList.items.length > 0; else emptyCart">
                <div class="items-list">
                    <ng-template ngFor let-item [ngForOf]="itemList.items">
                        <app-cart-page-item-product (editProductEvent)="editProduct($event)" [item]="item" ></app-cart-page-item-product>
                    </ng-template>
        
                </div>
                <div class="total-form">
                    
                    <div class="total">
                        <div class="total-details">
                            <span class="total-header">TOTAL</span>
                        
                            <div class="price-net">
                                <span>Valeur de la commande</span>
                                <span> {{totalPrice | number : "1.2"}} €</span>
                            </div>
                        </div>
                    </div>
        
                    <form [formGroup]="cartForm">
        
                        <div class="elements">
                            <div class="element">
        
                                <div class="firstname">
                                    <div class="label">
                                        <span>Nom</span>
                                        <span class="red-star">*</span>
                                    </div>
                                    <input type="text" placeholder="Entrez votre nom" formControlName="firstname">
                                </div>
                                <div *ngIf="isCartFormSubmitted && f.firstname.errors" class="error-feedback">
                                    <small *ngIf="f.firstname.errors.required">Nom manquant</small>
                                </div>
        
                            </div>
        
                            <div class="element">
                                <div class="lastname">
                                    <div class="label">
                                        <span>Prénom</span>
                                        <span class="red-star">*</span>
                                    </div>
                                    <input type="text" placeholder="Entrez votre prénom" formControlName="lastname">
                                </div>
                                <div *ngIf="isCartFormSubmitted && f.lastname.errors" class="error-feedback">
                                    <small *ngIf="f.lastname.errors.required">Prénom manquant</small>
                                </div>
                            </div>
        
                            <div class="element">
                                <div class="lastname">
                                    <div class="label">
                                        <span>Téléphone</span>
                                        <span class="red-star">*</span>
                                    </div>
                                    <input type="text" placeholder="Entrez votre prénom" formControlName="phone">
                                </div>
                                <div *ngIf="isCartFormSubmitted && f.phone.errors" class="error-feedback">
                                    <small *ngIf="f.phone.errors.required">Téléphone manquant</small>
                                </div>
                            </div>
        
                            <div class="element">
                                <div class="email">
                                    <div class="label">
                                        <span>Email</span>
                                    </div>
                                    <input type="email" placeholder="Email de contact" formControlName="email">
                                </div>
                            </div>
                            
                        </div>
        
                    <button type="submit" >
                        VALIDER MON PANIER
                        <ng-container *ngIf="isCartFormSubmittedAndNotErrorOnClientSide">
                            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                        </ng-container>
                    </button>
        
                    </form>
                </div>
            </div>
            
            <ng-template #emptyCart>
                <div class="empty-cart">
                    <p class="title">Votre panier est vide !</p>

                    <p>Pas de panique consultez nos menus vos trouverez très certainement un plat qui vous correspond.</p>
                    <p>N'hésitez pas à nous contacter pour toute demande spéciale. Nous nous ferons un plaisir de répondre à vos préoccupations.</p>

                    <div class="buttons">
                        <button class="menu" routerLink="/notre-carte">
                            Notre Carte
                        </button>

                        <button class="contact" routerLink="/contact">
                            Nous Contacter
                        </button>
                    </div>
                </div>
            </ng-template>
        </div>

    
</div>