*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo';
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}


.header-container{
    max-width: 1300px;
    padding: 0 20px;
}

.p-dialog {
    max-height: 100% !important;

    .p-dialog-content {
        padding: 0 !important;
    }
}


.content-container,
.my-container{
    max-width: 1300px;
    padding: 0 40px;
}
